@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/products.css);
@import url(styles/contact.css);
@import url(styles/footer.css);


:root {
    --cinza-claro: #E5E5E5;
    --branco: #FFFFFF;
    --azul-claro: #EAF2FD;
    --azul: #2A7AE4;
    --cinza-escuro: #464646;
    --cinza-borda: #C8C8C8;
    --azul-hover: #5595E9;
    --azul-claro-hover: #D4E4FA;
    --fonte-principal: "Raleway";
}

body {
    font-family: var(--fonte-principal);
    font-weight: 400;
}