.add__product-div {
    display: flex;
    justify-content: center;
}

.add__product-form {
    margin: 1rem;
}

.add__product-title {
    margin: 1rem 0;
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.375rem;
}

.add__product-disabled {
    width: 90%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--branco);
}

.add__product {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--cinza-borda);
    background-color: var(--branco);
    margin-bottom: 1rem;
}

.add__product-description {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid var(--cinza-borda);
    background-color: var(--branco);
    height: 82px;
    text-align: left;
}

.add__product-disabled::placeholder, .add__product-description::placeholder {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    color: var(--cinza-placeholder);
}

.add__product-button {
    font-family: var(--Raleway);
    width: 100%;
    padding: 1rem;
    background-color: var(--azul);
    color: var(--branco);
    font-weight: 400;
    font-size: 0.875rem;
    border: none;
    margin: 0.5rem 0 1rem 0;
}

.add__product-button:hover {
    background-color: var(--azul-hover);
    transition: 0.5s;
}

@media screen and (min-width:768px) {

    .add__product-form {
        margin: 2rem;
    }

    .contact {
        display: flex;
        padding: 2rem;
    }

    .about {
        text-align: left;
        width: 60%;
    }

    .about__logo {
        width: 70%;
    }
}

@media screen and (min-width:1024px) {



    .add__product-form {
        max-width: 559px;
        margin: 4rem;
    }

    .add__product-title {
        font-size: 2rem;
    }

    .about {
        display: flex;
        justify-content: space-between;
        margin: 0 9rem 0 7.5rem;
    }

    .about__logo {
        width: auto;
        max-height: 50px;
    }

    .contact__button {
        max-width: 165px;
    }

    .contact__form {
        margin-right: 7.5rem;
    }
}



