.contact {
    padding: 1rem;
    background-color: var(--azul-claro);
}

.about {
    text-align: center;
}

.about__logo {
    width: 40%;
}

.about__list li {
    padding: 0.5rem 0;
}

.about__link {
    color: var(--cinza-escuro);
    font-weight: 500;
    text-decoration: none;
}

.contact__title {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    color: var(--cinza-escuro);
    font-weight: 700;
}

.contact__name-disabled {
    width: 90%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--branco);
}

.contact__name {
    width: 90%;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid var(--cinza-borda);
    background-color: var(--branco);
    margin-bottom: 1rem;
}

.contact__text {
    width: 90%;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid var(--cinza-borda);
    background-color: var(--branco);
    height: 82px;
    text-align: left;
}

.contact__name-disabled::placeholder, .contact__text::placeholder {
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.contact__button {
    font-family: var(--Raleway);
    width: 45%;
    padding: 1rem;
    background-color: var(--azul);
    color: var(--branco);
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    margin-top: 0.3rem;
}

.contact__button:hover {
    background-color: var(--azul-hover);
    transition: 0.5s;
}



