.header {
    background: var(--branco);
    display: flex;
    justify-content: space-between;
}

.header__img {
    padding: 1rem;
}

.header__button {
    font-family: var(--Raleway);
    align-self: center;
    padding: 0.5rem 2.5rem;
    border: 1px solid var(--azul);
    background-color: var(--branco);
    color: var(--azul);
    font-weight: 600;
    font-size: 0.875rem;
}

.search__img {
    margin-right: 1rem;
}