.products {
    background: var(--cinza-claro);
    padding: 1rem 1rem 0 1rem;
}

.products__header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}

.products__title {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--cinza-escuro);
}

.products__link {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--azul);
    text-decoration: none;
    align-self: center;
}

.grid__container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.grid__item {
    text-decoration: none;
    width: 46%;
    margin: 0 2%;
    padding-bottom: 1rem;
}

.grid__img {
    width: 100%
}

.grid__name {
    padding:0.2rem 0;
    color: var(--cinza-escuro);
    font-size: 0.875rem;
    font-weight: 500;
}

.grid__price {
    padding:0.2rem 0;
    color: var(--cinza-escuro);
    font-weight: 700;
}

.grid__link {
    padding: 0.2rem 0;
    font-size: 0.875rem;   
    color: var(--azul);
    font-weight: 700;
}

.grid__item-desktop {
    display: none;
}

.products__all {
    background: var(--cinza-claro);
    padding: 2rem 2rem 0 2rem;
}

.products__title-all {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--cinza-escuro);
    margin-left: 2%;
    padding-bottom: 1rem;
}

.products__button {
    font-family: var(--Raleway);
    width: 151px;
    padding: 1rem;
    background-color: var(--azul);
    color: var(--branco);
    font-weight: 600;
    font-size: 0.875rem;
    border: none;
    margin-bottom: 1rem;
    margin-left: 2%;
}

.products__id {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--cinza-escuro);
}

.grid__img-edit {
    position: relative;
    background: url(../img/Icones.png);
}



@media screen and (min-width:768px) {

    .products__header-all {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .products__title-all, .products__button {
        align-self: center;
        margin: 0 1%;
    }

    .products__title-all{
        padding-bottom: 0;
    }

    .products {
        padding: 2rem 2rem 1rem 2rem;
    }

    .grid__item {
        width: 23%;
        margin: 0 1%;
    }
}

@media screen and (min-width:1024px) {

    .grid__item-desktop {
        display: block;
    }

    .grid__item {
        width: 14.5%;
        margin: 0 1%;
    }

    .products {
        background: var(--cinza-claro);
        padding: 4rem 9.5rem 0 9.5rem;
    }

    .products__title {
        font-size: 2rem;
    }

    .products__link {
        font-size: 1rem;
    }

    .grid__container {
        margin-bottom: 3rem;
    }

    .products__title-all {
        font-size: 2rem;
    }

    .products__button {
        font-size: 1rem;
        margin-right: 2%;
        width: 164px;
    }

}